<main class="container-fluid no-padding">
  <div>
    <br>
    <h1>Sandbox</h1>
  </div>

  <hr>
  <h2>Alert</h2>
  <hr>
  <div class="component-main">
    <app-config [configName]="'alertConfig'">
      <bossy-alert #example [config]="configService['alertConfig'].getValue()" #example></bossy-alert>
    </app-config>
  </div>

  <hr>
  <h2>Breadcrumb</h2>
  <hr>
  <div class="component-main">
    <app-config [configName]="'bossyBreadcrumbConfig'">
      <bossy-breadcrumb #example [config]="configService['bossyBreadcrumbConfig'].getValue()"></bossy-breadcrumb>
    </app-config>
  </div>

  <hr>
  <h2>Button</h2>
  <hr>
  <div class="component-main">
    <app-config [configName]="'buttonConfig'">
      <bossy-button #example [config]="configService['buttonConfig'].getValue()"></bossy-button>
    </app-config>
  </div>
  <bossy-button #example [config]="configService['buttonConfig2'].getValue()"></bossy-button>
  <br>
  <bossy-button #example [config]="configService['buttonConfig3'].getValue()"></bossy-button>
  <br>
  <bossy-button #example [config]="configService['buttonConfig4'].getValue()"></bossy-button>
  <bossy-button #example [config]="configService['buttonConfig6'].getValue()"></bossy-button>
  <br>
  <bossy-button #example [config]="configService['buttonConfig5'].getValue()"></bossy-button>

  <hr>
  <h2>Carousel</h2>
  <hr>
  <div class="component-main">
    <app-config [configName]="'carouselConfig'">
      <bossy-carousel #example [config]="configService['carouselConfig'].getValue()"></bossy-carousel>
    </app-config>
  </div>

  <hr>
  <h2>Collapse</h2>
  <hr>
  <div class="component-main">
    <app-config [configName]="'bossyCollapseConfig'">
      <bossy-collapse #example [config]="configService['bossyCollapseConfig'].getValue()"></bossy-collapse>
    </app-config>
  </div>

  <hr>
  <h2>Dropdown</h2>
  <hr>
  <div class="component-main">
    <app-config [configName]="'dropdownConfig'">
      <bossy-dropdown #example [config]="configService['dropdownConfig'].getValue()"></bossy-dropdown>
    </app-config>
  </div>
  <br>
  <bossy-dropdown #example [config]="configService['dropdownConfig2'].getValue()"></bossy-dropdown>
  
  <hr>
  <h2>Modal</h2>
  <hr>
  <div class="component-main">
    <app-config [configName]="'modalConfig'">
      <bossy-modal #example [config]="configService['modalConfig'].getValue()"></bossy-modal>
    </app-config>
  </div>

  <hr>
  <h2>Navs</h2>
  <hr>
  <div class="component-main">
    <app-config [configName]="'navsConfig'">
      <bossy-navs #example [config]="configService['navsConfig'].getValue()">
        <bossy-nav-tab>This is where your content for the first tab would go
        </bossy-nav-tab>
        <bossy-nav-tab>This is where your content for the second tab would go
        </bossy-nav-tab>
        <bossy-nav-tab>This is where your content for the third tab would go
        </bossy-nav-tab>
        <div class="row mb-3"></div>
      </bossy-navs>
    </app-config>
  </div>

  <hr>
  <h2>Nav Bar</h2>
  <hr>
  <div class="component-main">
    <app-config [configName]="'navBarConfig'">
      <bossy-nav-bar #example [config]="configService['navBarConfig'].getValue()">
          <div class="row mb-3"></div>
      </bossy-nav-bar>
    </app-config>
  </div>
  
  <hr>
  <h2>Popover</h2>
  <hr>
  <div class="component-main">
    <app-config [configName]="'bossyPopoverConfig'">
      <bossy-popover #example [config]="configService['bossyPopoverConfig'].getValue()"></bossy-popover>
    </app-config>
  </div>

  <hr>
  <h2>Pagination</h2>
  <hr>
  <div class="component-main">
    <app-config [configName]="'bossyPaginationConfig'">
      <bossy-pagination #example [config]="configService['bossyPaginationConfig'].getValue()"></bossy-pagination>
    </app-config>
  </div>

  <hr>
  <h2>Calendar</h2>
  <hr>
  <div class="component-main">
    <app-config [configName]="'calendarConfig'">
      <bossy-calendar #example [config]="configService['calendarConfig'].getValue()"></bossy-calendar>
    </app-config>
  </div>

  <hr>
  <h2>Form</h2>
  <hr>
  <div class="component-main">
    <app-config [configName]="'formConfig'">
      <bossy-form #example [config]="configService['formConfig'].getValue()"></bossy-form>
    </app-config>
  </div>

  <hr>
  <h2>Form Element</h2>
  <hr>
  <div class="component-main">
    <app-config [configName]="'formElementConfig'">
      <bossy-form-element #example [config]="configService['formElementConfig'].getValue()"></bossy-form-element>
    </app-config>
  </div>

  <hr>
  <h2>Radio Buttons</h2>
  <hr>
  <div class="component-main">
    <app-config [configName]="'bossyFormRadioConfig'">
      <bossy-form-radio #example [config]="configService['bossyFormRadioConfig'].getValue()"></bossy-form-radio>
    </app-config>
  </div>

  <hr>
  <h2>Form Select Menu</h2>
  <hr>
  <div class="component-main">
    <app-config [configName]="'selectMenuConfig'">
      <bossy-form-selectmenu #example [config]="configService['selectMenuConfig'].getValue()"></bossy-form-selectmenu>
    </app-config>
  </div>

  <hr>
  <h2>Textarea</h2>
  <hr>
  <div class="component-main">
    <app-config [configName]="'bossyFormTextareaConfig'">
      <bossy-form-textarea #example [config]="configService['bossyFormTextareaConfig'].getValue()"></bossy-form-textarea>
    </app-config>
  </div>
</main>