# Project
node_modules

# Editor
.idea/

# Distribution
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
src/**/*.metadata.json

site/**/*.js
site/**/*.js.map
site/**/*.d.ts
site/**/*.metadata.json

!site/app/systemjs.config.js
!site/server.js
!karma.conf.js
!karma-test-shim.js

# Vim swap files
.swp

/dist/