<div class="btn-group" (click)="ddShow($event)">
	<button *ngIf="!config?.split" class="btn btn-{{color()}} dropdown-toggle" id='dropdownMenuButton' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{{config.name}}
	</button>
	<button *ngIf="config?.split" class="btn btn-{{color()}}"  type="button">
		{{config.name}}
	</button>
	<button *ngIf="config?.split" type="button" class="btn btn-{{color()}} dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<bossy-dropdown-menu *ngFor="let item of config.items" [config]="item"></bossy-dropdown-menu>
	</div>
</div>
