<div [ngSwitch]="config.type" class = "{{bossy-form-input}}">
	<div *ngSwitchCase ="'text'">
        <input value="{{config.value}}" type = "{{text}}" name="{{config.name}}" placeholder="{{config.placeholder}}" />
	</div>
	<div *ngSwitchCase="'number'">
        <input value="{{config.value}}" type = "{{number}}" name="{{config.name}}" placeholder="{{config.placeholder}}" />
	</div>
	<div *ngSwitchCase="'textarea'">
        <textarea value="{{config.value}}" name="{{config.name}}" placeholder="{{config.placeholder}}" rows="{{config.rows}}" cols="{{config.cols}}"> </textarea>
	</div>
	<div *ngSwitchCase="'email'">
        <input value="{{config.value}}" type = "{{email}}">
	</div>
	<div *ngSwitchDefault></div>
</div>
  

