<div [ngSwitch]="config.type" class="{{ bossy-form-input }}">
    <div *ngSwitchCase="'number'">
        <input type="number" name="{{ config.name }}" placeholder="{{ config.placeholder }}"/>
    </div>
    <div *ngSwitchCase="'textarea'">
        <textarea name="{{ config.name }}" placeholder="{{ config.placeholder }}" rows="{{ config.rows }}" cols="{{ config.cols }}"></textarea>
    </div>
    <div *ngSwitchCase="'email'">
        <input type="email">
    </div>
    <div *ngSwitchCase="'selectmenu'">
        <bossy-form-selectmenu  [config]="config.selectmenu"></bossy-form-selectmenu>
    </div>
    <div *ngSwitchDefault>
        <input type="text" name="{{ config.name }}" placeholder="{{ config.placeholder }}"/>
    </div>
</div>