body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 10%;
}

a {
  color: #00B7FF;
}

.bs-callout{
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;

}
.bs-callout-info{
    border-left-color: #5bc0de;
}
