<div class="combo-box" [ngClass]="{\'open\': inFocus}" (blur)="inFocus = false">
    <label for="combo-input" class="input-label">
        {{title}}
    </label>
    <input id="combo-input" type="text" (keypress)="changed($event)" placeholder="{{placeholder}}" (focus)="inFocus = true" [(model)]="inputField">
    <div class="inputs">
        <label class="pill" *ngFor="item in selectedItems | orderBy: sortFunction" (click)="deleteSelection(item)">
            {{item}}
            <span class="close">
                &times;
            </span>
        </label>
    </div>
    <div class="list" *ngIf="inFocus">
    <ul>
        <li *ngFor="item in list | orderBy: sortFunction">
            <a href="#!" title="{{item}}" (click)="addSelection(item)">
                {{item}}
            </a>
        </li>
        </ul>
    </div>
</div>