<div class="{btn-group {{btn_dir}} {{btn_show}}"  (click)="showMenuOnClick()">
  <button class="btn btn-{{config.btn_type}} {{btn_size}} dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="ariaExpanded">
    {{config.name}}
  </button>
  <div [ngClass]="{'dropdown-menu': true, 'show': showMenu}" aria-labelledby="dropdownMenuButton">
    <bossy-dropdown-menu *ngFor="let item of config.items" [config]="item"></bossy-dropdown-menu>
  </div>
</div>