<!-- Vendor -->
<script type="text/javascript" src="{{ relative }}bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="{{ relative }}bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="{{ relative }}bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="{{ relative }}bower_components/BossyUI/dist/js/bossy.all.js"></script>
<!-- End Vendor -->

<!-- Application -->
<script type="text/javascript" src="{{ relative }}js/app.js"></script>
<script type="text/javascript" src="{{ relative }}js/controllers.js"></script>
<script type="text/javascript" src="{{ relative }}js/directives.js"></script>
<script type="text/javascript" src="{{ relative }}js/services.js"></script>
<!-- End Application -->