<div *ngIf="!config?.isAccordionStyle">
  <div *ngFor="let item of config.items; let i = index">
    <p>
      <button class="btn btn-primary {{buttonCollapsed[i]}}" (click)="onEventClick(i)" type="button" data-toggle="collapse" data-target="#collapseExample" attr.aria-expanded="{{isShowing[i]}}" aria-controls="collapseExample">
        {{item.name}}
      </button>
    </p>
    
    <div class="collapse {{show[i]}}" id="collapseExample">
      <div class="card card-body">
        {{item.data}}
      </div>
    </div>
  </div>
</div>

<div *ngIf="config?.isAccordionStyle">
  <div id="accordion">
    <div class="card">
      <div *ngFor="let item of config.items; let i = index">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link {{buttonCollapsed[i]}}" (click)="onEventClick(i)" data-toggle="collapse" data-target="#collapseOne" attr.aria-expanded="{{isShowing[i]}}" aria-controls="collapseOne">
              {{item.name}}
            </button>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse {{show[i]}}" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            {{item.data}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>