/* ----------- Buttons ----------- */
// Default Button Styles
button {
  @include hover($color-a);
  @extend %web-kit-unstyle;

  border: none;
  border-radius: 0;
  display: inline-block;
  outline: none;
  background-color: $color-a;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 1em;
  font-size: 1rem;
  color: #fff;
  margin: 0;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  transition: background-color .25s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


// Button Groups
.group {
  display: flex;

  > button {
    display: block;
    border-radius: 0;
    margin: 0;

    + button {
      border-left: solid thin $color-a--dark;
    }
    &:first-of-type {
      border-radius: $radius 0 0 $radius;
    }

    &:last-of-type {
      border-radius: 0 $radius $radius 0;
    }
  }
}