/*
= Clearfix
*/
%clearfix:after {
  content: "";
  display: table;
  clear: both;
  zoom: 1;
}


/*
= Unstyle List
*/
%unstyle-list {
   list-style: none;
   margin-left: 0;
   margin-bottom: 0;
   margin-top: 0;
   padding-left: 0;
}


/*
= Unstyle Web Kit
*/
%web-kit-unstyle {
	-webkit-appearance: none;
}


/*
= Grid Gutters
*/
%gutter {
  margin-left: -1rem;
  > * {
    margin-top: 0;
    margin-left: 1rem;
  }
}