/* ----------- Extends ----------- */
/* Clearfix */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
  zoom: 1;
}

/* Unstyle */
%unstyle-list {
   list-style: none;
   margin-left: 0;
   margin-bottom: 0;
   margin-top: 0;
   padding-left: 0;
}

%web-kit-unstyle {
	-webkit-appearance: none;
}

.flex-left {
  @include prefix(align-self, flex-start);
}

.flex-right {
  @include prefix(align-self, flex-end);
}

%gutter {
  margin-left: -1rem;
  > * {
    margin-top: 0;
    margin-left: 1rem;
  }
}