/*
= global box-sizing
*/

* {
	@include prefix(box-sizing, border-box);
	margin-top: 0;

	+ * {
		//margin-top: 1.4rem;
                margin-top: 0; // Temp fix for the markup on the preview site
	}
}


/*
= Grid Generation
*/
.grid {
  @include grid-generator($grid);
}


/*
= Section spacing
*/

section + section {
	margin-top: 1.4rem*3;
}


/*
= Group
*/

.group {
  display: flex;
  flex-wrap: wrap;
}


/*
= Flex position
*/

.flex-left {
  @include prefix(align-self, flex-start);
}

.flex-right {
  @include prefix(align-self, flex-end);
}
