/*
= Grid Generation
*/
.grid {
  @include grid-generator($grid);
}


/*
= Section spacing
*/

section + section {
	margin-top: 1.4rem*3;
}


/*
= Group
*/

.group {
  display: flex;
  flex-wrap: wrap;
}


/*
= Flex position
*/

.flex-left {
  @include prefix(align-self, flex-start);
}

.flex-right {
  @include prefix(align-self, flex-end);
}
