.table {
	display: table-row;
	> * {
		display: table-cell;
	}
}

.menuStyle--a {

	> a {
		text-shadow: 0 -1px rgba(black, 0.6);
		color: #eee;
		font-size: 10pt;
		display: block;
		height: 40px;
		line-height: 40px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		position: relative;
		// @include transition(all .5s);

		&:before {
			content: "";
			// border-bottom: solid 3px #fff;
			width: 100%;
			display: block;
			bottom: -3px;
			left: 0;
			position: absolute;
		}
	}

	&.active > a, > a:hover {
		color: #fff;
		@include background(linear-gradient(to top, $c-blue-a, darken($c-blue-a, 3)));
	}
	&.active > a {
		box-shadow: 0 4px 6px rgba(black, 0.05) inset;
	}
}

.menuStyle--b {
	width: 100%;
	box-shadow: 0 1px rgba(black, 0.2), 1px 0 rgba(black, 0.2), -1px 0 rgba(black, 0.2);

	> a {
		@include transition(background, .4s);

		display: block;
		height: 40px;
		line-height: 40px;
		background-color: #fff;
		color: $c-value-b;
		display: block;
		padding: 0 $pad;
	}

	&.active > a, > a:hover {
		background-color: $c-blue-a;
		color: #fff;
	}
}

button, [role="button"] {
	background: transparent;
	border: none;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	padding: 0 $pad;
	color: inherit;
	text-decoration: none;
	background: lightgray;
	display: inline-block;
	&:hover {
		cursor: pointer;
	}
}