#bossy_logo_mark {
	background-color: $color-green;
}

body {
	font-family: "Lato", sans-serif;
	font-size: 11pt;
	padding-top: 40px;
	background: url(../img/bg.svg) no-repeat top left #f3f3f3;
  // background-repeat: no-repeat;
  // background-position: center 100px;
  // background-attachment: fixed;
  // background-width: 100%;

	> header {
		
	}
}

a, a:visited {
	color: $color-gray;
}

[role="main"] {
	margin-top: $margin;
}

#logo {
	padding-top: 4px;
	max-width: 150px;
	margin: 0 auto;
}

.table {
	display: table;
	width: 100%;
	> * {
		display: table-cell;
	}
}

#header {
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(black, 0);
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
	position: fixed;
	box-shadow: 0 1px 2px rgba(black, 0.4);

	@include transition(box-shadow .25s);
}

#footer {
	background-color: #5A5A5A;
	color: #fff;
	box-shadow: 0 2px 2px rgba(black, 0.2) inset;
	padding: 0 $pad;
	font-weight: normal;
	line-height: $global-footer-height;
}

.hero {
	font-size: 54pt;
	line-height: 54pt;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	font-weight: 100;
	text-align: center;
}

.logo-large {
	max-width: 150px;
	margin: 0 auto;
}

* + p {
	margin-top: $margin;
}

.step {
	text-align: center;
	&:before {
		font-size: 48pt;
		
	}
}

.button-green {
	background-color: $color-green;
	color: #fff;
	&:hover {
		background-color: lighten($color-green, 5%);
		box-shadow: 0 0 3px rgba(black, 0.2) inset;
	}
}

.heading-large {
	font-size: 24pt;
	font-weight: 300;
	margin-bottom: $unit;
}

.module {
	margin-bottom: -1px;
	background-color: #fff;
	padding: $pad;
	border-radius: 2px 2px 0 0;
	box-shadow: 0 2px 1px rgba(black, 0.3), 0 -1px 1px rgba(black, 0.1);
	&:last-of-type {
		border-radius: 0 0 2px 2px;
	}
	+ .module {
		padding-top: $pad;
		box-shadow: 0 2px 1px rgba(black, 0.3);
	}
}

