// Colors
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

$c-blue-a: #0076a8;
$c-green-a: #00b388;
$c-gray-a: gray;

$unit: 20px;

$pad: $unit;
$section-margin: 75px;

$global-footer-height: 40px;
$module-header-height: $unit;

$max-width: 840px;

$badge: 100px;
$badge-font-color: #fff;

$badge-color: $c-green-a;
