// Colors
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

$color-tan: #B48C74;
$color-tan_light: #B4A298;
$color-brown: #68574D;
$color-green: #62B4B4;
$color-green_dark: #4D6868;

$unit: 20px;

$pad: $unit;
$margin: $unit;

$global-footer-height: 40px;
$module-header-height: $unit;

$max-width: 840px;

$badge: 100px;
$badge-font-color: #fff;

$badge-color: $color-green_dark;
