@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Oxygen+Mono|Oxygen:400,300,700);

// Colors
$c-blue-a: #0076a8;
$c-green-a: #00b388;
$c-value-a: #595959;
$c-value-b: #979595;

$f-lato       : 'Lato', sans-serif;
$f-oxygenMono : 'Oxygen Mono', courier;
$f-oxygen     : 'Oxygen', sans-serif;

$t-size: 12pt;
$t-leading: 1.5em;

$unit: 20px;

$pad: $unit;
$margin: $unit;
$section-margin: 50px;

$global-footer-height: 40px;
$module-header-height: $unit;

$max-width: 840px;
$gutter: 1rem;

$badge: 100px;
$badge-font-color: #fff;

$badge-color: $c-green-a;

