.bossy-calendar {
	position: relative;
	background-color: white;
	display: inline-block;
	border-radius: 3px;
	box-shadow:
		0 1px 2.97px 0.03px rgba(0,0,0,0.35),
		0 4px 10.45px 0.55px rgba(0,0,0,0.21);
}
.bossy-calendar-view {
	position: relative;
	padding: 30px;
	display: inline-block;
}
.bossy-calendar-view table {
    min-width: 214px;
}
.bossy-calendar-view table tr td {
    padding: 4px; text-align: center;
}
.bossy-calendar-heading {
 	text-align: center;
 	font: bold 26px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
 	color: #000;
}
.bossy-calendar-month {
	min-width: 250px;
}
.bossy-calendar-month-selector {
	cursor: pointer;
 	background-color: #3582a2;
	display: block;
	height: 45px;
	width: 45px;
	border-radius: 5px;
}
.bossy-calendar-month-selector:hover {
 	background-color: #0076A8;
}
.bossy-calendar-week-days {
	border-bottom: 1px solid #e8e8e8;
}
.bossy-calendar-not-current {
	color: #dfdfdf;
}
.bossy-calendar-week-day {
	cursor: pointer;
}
.bossy-calendar-week-day.selected {
	color: #fff;
 	background-color: #3582a2;
}
.selected {
	/*font-size: 23px;*/
	font-weight: 100;
}
.bossy-calendar-date-selected strong {
	display: block;
	font-size: 12px;
}