<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators" *ngIf="config.indicator">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" [ngClass]="{'active' : images[0].active}"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" [ngClass]="{'active' : images[1].active}"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2" [ngClass]="{'active' : images[2].active}"></li>
  </ol>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" [ngClass]="{'active' : images[0].active}">
        <img class="d-block w-100" src="{{images[0].url}}" alt="{{images[0].title}} slide">
        <div class="carousel-caption" [ngClass]="hasCaptions ? 'd-md-block' : 'd-none'">
          <h5>Slide 1</h5>
          <p>Slide 1 captions go here</p>
        </div>
      </div>
      <div class="carousel-item" [ngClass]="{'active' : images[1].active}">
        <img class="d-block w-100" src="{{images[1].url}}" alt="{{images[1].title}} slide">
        <div class="carousel-caption" [ngClass]="hasCaptions ? 'd-md-block' : 'd-none'">
          <h5>Slide 2</h5>
          <p>Slide 2 captions go here</p>
        </div>
      </div>
      <div class="carousel-item" [ngClass]="{'active' : images[2].active}">
        <img class="d-block w-100" src="{{images[2].url}}" alt="{{images[2].title}} slide">
        <div class="carousel-caption" [ngClass]="hasCaptions ? 'd-md-block' : 'd-none'">
          <h5>Slide 3</h5>
          <p>Slide 3 captions go here</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" role="button" (click)="clickPrev()" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" role="button" (click)="clickNext()" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
</div>