
  <button type="button" id="popover1234" data-toggle="popover" class="btn btn-lg btn-danger" title="" data-original-title="Popover title">Click to toggle popover(ID: popover1234)</button>
  <button type="button" id="popover5678" data-toggle="popover" class="btn btn-lg btn-danger" title="" data-original-title="Popover title">Click to toggle popover(ID: popover5678)</button>

  <div *ngIf="hide" name='popover' class="popover fade bs-popover-right show" role="tooltip"  x-placement="right" [style.top]="Top" [style.left]="Left" style="position: absolute; will-change: transform;">
    <div class="arrow" [style.transform]='rotate' [style.left]='arrowLeft' [style.top]="arrowTop"></div>
      <h3 class="popover-header">{{config.popoverTitle}}</h3>
    <div class="popover-body">{{config.popoverData}}
    </div>
  </div>
