
  <button type="button" (click)="ShowPopoverOnClick($event)" class="btn btn-lg btn-danger" data-toggle="popover" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="Popover title">Click to toggle popover</button>

  <div *ngIf="hide" class="popover fade bs-popover-right show" role="tooltip" id="popover181151" x-placement="right" [style.top]="Top" [style.left]="Left" style="position: absolute; will-change: transform;">
    <div class="arrow" style="top: 34px;"></div>
      <h3 class="popover-header">{{config.popoverTitle}}</h3>
    <div class="popover-body">{{config.popoverData}}
    </div>
  </div>
