.bossy-navbar {
    font-family: "Lato",Helvetica,sans-serif;
    font-weight: 500;
    background-color: #0076A8;
    color: #FFF;
  
    text-align: center; 
    margin-top: 20px;
    display: inline-block;
    border: 0px solid #000;
    
    line-height: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding:0px;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.6);
    font-size: 8pt;
    	
}

.bossy-navbar > li:hover {
     color: #fff; background: -webkit-linear-gradient( bottom , #1F4C5F, #006b99); background: linear-gradient(to top, #1F4C5F, #006b99); 
}

.bossy-navbar-item {
    position: relative;
    display: inline-block;
    padding: 6px 20px;
}

.bossy-navbar-submenu {
    background-color: #0076A8;
    color: #FFF;
    left: 10px;
    width:140px;
    top:28px;
    position: absolute;
    padding-left: 0; 
    display: block;
    list-style-type: none;
}

.bossy-navbar-submenu > li:hover {
     color: #fff; background: -webkit-linear-gradient( bottom , #1F4C5F, #006b99); background: linear-gradient(to top, #1F4C5F, #006b99); 
}

.bossy-navbar-submenu-item {
    padding: 6px; 
    border: 1px solid #000;
    position: relative;
}

.bossy-navbar-submenu-header {
    background-color: #00B388;
    color: #FFF;
    display: block;
    content: '▼';
    height: 30px;
    padding-top: 5px;
    font-weight: 500;
}

.bossy-navbar-link{
    text-decoration:none;
    color:#fff;
}

.bossy-navbar-item:hover{
    color: #fff;
    background: -webkit-linear-gradient( bottom , #0076A8, #006b99); 
    background: linear-gradient(to top, #0076A8, #006b99);
}
