/* Colors */

$primary-color: #59a715;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-darker: darken($primary-color, 20%);
$primary-color-light: lighten($primary-color, 10%);
$primary-color-lighter: lighten($primary-color, 20%);
$icon-size: 25px;

$color-green: #408900;
$color-red:   #9e2712;
$color-orange:  #f0a504;
$color-blue:  #0f88d4;
$color-orange:  #ff9600;

@each $color, $value in (green, $color-green),
(blue, $color-blue),
(orange, $color-orange),
(red, $color-red),
(orange, $color-orange) {
  .#{$color} {
    background-color: $value !important;
    &:before {
      background-color: $value !important;
    }
  }
}

$dark-tooltip:  #333;

/* Tooltip */

.tooltip {
  + * {
    margin-top: 50px;
  }
  span.link {
    position: relative;
    color: $primary-color;
    cursor: pointer;
    &:hover {
      .tooltip-active {
        opacity: 1;
        transform: scale(1) translateY(0);
      }
    }
  }
  .tooltip-active {
    position: absolute;
    background-color: $dark-tooltip;
    width: 300px;
    bottom: 130%;
    left: 50%;
    margin-left: calc(-300px/2);
    padding: 10px;
    display: inline-block;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    color: #fff;
    cursor: default;
    opacity: 0;
    transform: scale(0) translateY(-20px);
    transition: all .3s ease-in-out;
    pointer-events: none;
    &.active {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
    &.tooltip-left {
      left: 5%;
      margin: 0;
      &:before {
        left: 10%;
      }
    }
    &.tooltip-right {
      right: 5%;
      left: auto;
      margin: 0;
      &:before {
        right: 10%;
        left: auto;
      }
    }
    &.wide {
      width: 420px;
    }
    &.extra-padding {
      padding: 20px;
    }
    &.content-html {
      img {
        max-width: 20%;
        float: left;
        display: inline-block;
      }
      span {
        width: 76%;
        float: right;
        text-align: left;
      }
      h3 {
        margin: 0 0 5px;
        font-size: 16x;
        color: #fff;
      }
    }
    &.alert {
      .icon {
        width: 10%;
        float: left;
        margin: 10px 0 0 10px;
        text-align: center;
      }
      span {
        width: 85%;
        padding-left: 10px;
        float: right;
        text-align: left;
      }
    }
    &.download {
      padding: 10px;
      .progress-bar {
        position: absolute;
        background-color: $primary-color-darker;
        height: 100%;
        width: 0%;
        top: 0;
        left: 0;
        z-index: -1;
      }
      .icon {
        position: absolute;
        background-color: $primary-color-darker;
        height: 100%;
        min-height: 100%;
        width: 50px;
        top: 0;
        right: 0;
        float: right;
        font-size: $icon-size;
        &:before {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 0;
          margin-top: -$icon-size/2;
          text-align: center;
        }
      }
      span {
        width: 90%;
        display: block;
        float: left;
        color: #fff;
        text-align: left;
        span {
          display: block;
          font-size: 70%;
          font-weight: lighter;
        }
      }
    }
    &:before {
      position: absolute;
      background-color: $dark-tooltip;
      height: 15px;
      width: 15px;
      top: calc(100% - 10px);
      bottom: calc(45px/2);
      left: 50%;
      margin-left: -15px;
      display: block;
      content: "";
      transform: rotate(45deg);
    }
  }
}

