/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is *px tall */
body {
    padding-top: 100px;
}

.header-nav {
    border-bottom: 2px solid #a9a9a9;
    padding: 3px 16px 3px 16px;
    background-color: #ffffff;
}

.header-nav-link {
    align-items: center;
}

.header-nav-logo {
    /*display: inline-block;*/
    /*background: url('/images/logo.png') no-repeat;*/
    /*padding-bottom: 47px;*/
    /*width: 50px;*/
    /*height: 48px;*/
}

.header-nav-logo-word {
    /*display: inline-block;*/
    /*background: url('/images/logo-word.png') no-repeat;*/
    /*!*padding-bottom: 48px;*!*/
    /*margin-left: 10px;*/
    /*width: 300px;*/
    height: 40px;
    align-items: center;
}

.navbar-brand {
    padding: 0px 15px;
}

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        display: block;
        padding-top: 25px;
        padding-bottom: 40px;
        border-right: 1px solid #a9a9a9;
    }
}

.main {
    padding-top: 20px;
}

.main h2 {
    margin-bottom: 15px;
}

.main h5 {
    margin-bottom: 15px;
}

.editor {
    /*display: inline-block;*/
    position: absolute; /* Added */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
}

.component-main {
    margin-bottom: 50px;
}

/*.component-left {*/
    /*padding-right: 15px;*/
/*}*/

.component-left h4 {
    display: inline;
		font-size: 1.4rem;
}

.component-left .btn-group {
    padding-bottom: 10px;
}

.component-right {
    margin-bottom: 20px;
}

.component-right h4 {
    display: inline;
		font-size: 1.4rem;
}

.component-col {
    margin-bottom: 20px;
}
