#topnav {
    background-color: #333333;
    display: block;
    height: 35px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #DDD;
}

#sidebar {
    background-color: #EEE;
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 0;
    width: 200px;
    overflow: auto;
}
#content {
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 206px /* 200 + 6*/;
    right: 0;
    overflow: hidden;
    color: #FFF;

}
#top-content {
    position: absolute;
    top: 0;
    bottom: 136px; /* 130 + 6 */
    left: 0;
    right: 0;
    background-color: #444;
    overflow: auto;
}
#bottom-content {
    position: absolute;
    height: 130px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background-color: #777;
}

#sidebar-resizer {
    background-color: #666;
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 200px;
    width: 6px;
    cursor: e-resize;
}
#content-resizer {
    position: absolute;
    height: 6px;
    bottom: 130px;
    left: 0;
    right: 0;
    background-color: #666;
    cursor: n-resize;
}

#sidebar-resizer:hover, #preview-resizer:hover {
    background-color: #AAA;
}

div.editor {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 300px;
}
#editor-result{
    width: 100%;
    height: 400px;
    border: 2px solid;
}
#debugcontainer{
    height: 70%;
    line-height: 10px;
    position: fixed;
    width: 0px;
    right: -1px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 10px;
    border: 1px solid black;
    padding-left: 5px;
    top: 0;
     -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
#debugDiv{
    overflow: auto;
    height: 100%;
}
#close-debug{
    background-color: black;
    padding: 20px 6px;
    position: absolute;
    left: -19px;
    z-index: 99999999;
    top: 42%;
    cursor: pointer;
}

input:focus {
    outline: none;
}