<table>
	<tr>
		<td ng-click="previousMonth()" title="Previous month" class="p">&lt;</td>
		<td colspan="5">{{current.monthName}} {{current.year}}</td>
		<td ng-click="nextMonth()" title="Next month" class="p">&gt;</td>
	</tr>
	<tr>
		<td ng-repeat="day in days" title="{{day}}">{{day | limitTo : 2}}</td>
	</tr>
	<tr ng-repeat="week in dateMap">
		<td ng-repeat="current in week" ng-click="selectDate(current.time)" class="{{current.dayInMonth}} {{current.disabledDay}} p">
			{{current.date}}
		</td>
	</tr>
	<tr>
		<td colspan="7">{{selected.day}}, {{selected.monthName}} {{selected.date}}, {{selected.year}}</td>
	</tr>
</table>