<div ng-controller="AppCtrl">
    <div>
        Choice 1:
        <select id="choiceOne" ng-model="choiceTwoOptions" ng-options="choiceOne for (choiceOne, choiceTwoOptions) in choices">
            <option value=''>Select</option>
        </select>
    </div>
    <div>
        Choice 2: <select id="choiceTwo" ng-disabled="!choiceTwoOptions" ng-model="choiceThreeOptions" ng-options="choiceTwo for (choiceTwo, choiceThree) in choiceTwoOptions"><option value=''>Select</option></select>
    </div>
    <div>
        Choice 3: <select id="choiceThree" ng-disabled="!choiceThreeOptions || !choiceTwoOptions" ng-model="choiceThree" ng-options="choiceThree for choiceThree in choiceThreeOptions"><option value=''>Select</option></select>
    </div>
</div>