<div>
    <div>
        {{header}}
    </div>
    <select multiple> <!-- shows all options -->
        <option ng-show="multiple" ng-click="checkAll()">Select all</option>
        <option ng-show="multiple" ng-click="uncheckAll()">Deselect all</option>
        <option ng-repeat="i in items | filter:searchText" ng-click="select(i); focus()">{{i.label}}</option>
    </select>
</div>

<!-- usage of directive in index.html:
<bossy-multiselect multiple="true"
                   ng-model="selectedChoice"
                   options="choice.name for choice in choices"
                   change="selected()">
</bossy-multiselect>
-->