<div>
With a seperate controller
<section ng-controller="bossyDropdownCtrl as dropCtrl">	
		<select>
			<option ng-repeat="content in contents">
				<h1>{{content.name}}</h1>
			</option>
		</select>
</section>

With an directive embedded controller
<section>	
	<select ng-model="myVals" ng-options="myVal.product as myVal.name for myVal in myVals">
			<option>
			</option>
	</select> 
</section>

Just regular output
<section>	
	<select>
				<option><h1>{{drops._options.titles}}</h1></option>
				<option><h2>{{drops._options.contents}}</h2></option>
				<option><h3>{{myVals[0].name}}</h3></option>
				<option><h3>{{bossyDropdownCtrl._options.contents}}</h3></option>

	</select> 
</section></div>