<!DOCTYPE html>

<html> 
<head>
    <meta charset="utf-8" />
    <title>Working?</title>
    
    <style>
        #test {height: 100px; width: 100px; position: absolute; top: 100px; left: 400px; background-color: yellow;}
    </style>
    
</head>

<body ng-app="bossy.tooltip">

    <div bossy-tooltip id="test" title="titleTest" body="bodyTest" position="s"></div>

</body>

<script type="text/javascript" src="../angular.min.js"></script>
<script type="text/javascript" src="../bossy.tooltip.js"></script>
</html>
