<!DOCTYPE html>

<!-- <link rel="shortcut icon" type="image/png" href="jasmine/lib/jasmine-core/jasmine_favicon.png">
<link rel="stylesheet" type="text/css" href="jasmine/lib/jasmine-core/jasmine.css"> 

<script type="text/javascript" src="jasmine/lib/jasmine-core/jasmine.js"></script>
<script type="text/javascript" src="jasmine/lib/jasmine-core/jasmine-html.js"></script>
<script type="text/javascript" src="jasmine/lib/jasmine-core/boot.js"></script> -->

<!-- <script type="text/javascript" src="bossy.tooltip.js"></script> -->

<!-- <script type="text/javascript" src="../bossy.data.js"></script>
<script type="text/javascript" src="../bossy.form.js"></script> -->




<html lang="en" ng-app="bossy.dropdown">
	<head>
		<meta charset="etf-8">
		<title>bossyDropdown</title>
		<script type="text/javascript" src="../angular.min.js"></script>
		<script type="text/javascript" src="../bossy.dropdown.js"></script>
	</head>
	<body>
		<!-- Drop Down List -->
		<bossy-dropdown src="'https://gist.githubusercontent.com/mshafrir/2646763/raw/bfb35f17bc5d5f86ec0f10b80f7b80e823e9197f/states_titlecase.json'" title="'name'"></bossy-dropdown>
	</body>
</html>
