<!DOCTYPE html>

<!-- <link rel="shortcut icon" type="image/png" href="jasmine/lib/jasmine-core/jasmine_favicon.png">
<link rel="stylesheet" type="text/css" href="jasmine/lib/jasmine-core/jasmine.css"> 

<script type="text/javascript" src="jasmine/lib/jasmine-core/jasmine.js"></script>
<script type="text/javascript" src="jasmine/lib/jasmine-core/jasmine-html.js"></script>
<script type="text/javascript" src="jasmine/lib/jasmine-core/boot.js"></script> -->
<script type="text/javascript" src="../angular.min.js"></script>
<!-- <script type="text/javascript" src="bossy.tooltip.js"></script> -->
<script type="text/javascript" src="../bossy.dropdown.js"></script>
<!-- <script type="text/javascript" src="../bossy.data.js"></script>
<script type="text/javascript" src="../bossy.form.js"></script> -->



<html> 
	<head>
		<meta charset="utf-8" />
		<title>Working?</title>
	</head>
<!-- 	<div ng-app="bossy.tooltip" on-enter on-exit> 
		 <h1 bossy-tooltip></h1> 
	</div> -->
	<h2 ng-app="bossy.dropdown" bossy-dropdown></h2>
</html>
