<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="http://code.angularjs.org/1.1.5/angular.min.js" data-semver="1.1.5"></script>
    <script type="text/javascript" src="checklist-model.js"></script>
    <title>checkbox multiselect</title>
</head>
<body>
<div ng-app="app" ng-controller="Ctrl">
    <label ng-repeat="choice in choices">
        <input type="checkbox" checklist-model="name.choices" checklist-value="choice"> {{choice}}
    </label>
    <br />
    <button ng-click="checkAll()">check all</button>
    <button ng-click="uncheckAll()">uncheck all</button>
    <br />
    choices: {{ name.choices | json }}
</div>
</body>
</html>