<select (change)="changeType($event.target.value)">
	<option value="element" selected>Element</option>
	<option value="calendar">Calendar</option>
	<option value="dropdown">Dropdown</option>
	<option value="input">Input</option>
	<option value="radio">Radio</option>
	<option value="selectmenu">Selectmenu</option>
	<option value="textarea">Textarea</option>
	<!-- <option value="slider">Slider</option> -->
</select>
<div [ngSwitch]="this.type" class="bossy-element-switch">
	<div *ngSwitchCase="'calendar'">
    <bossy-calendar [config]="'BossyCalendarConfig'"></bossy-calendar>
	</div>
	<div *ngSwitchCase="'dropdown'">
		<bossy-dropdown [config]="'BossyDropdownConfig'"></bossy-dropdown>
	</div>
	<div *ngSwitchCase="'input'">
    <bossy-form-input [config]="'BossyFormInputConfig'"></bossy-form-input>
	</div>
  <div *ngSwitchCase="'radio'">
    <bossy-form-radio [config]="'BossyFormRadioConfig'"></bossy-form-radio>
	</div>
	<div *ngSwitchCase="'selectmenu'">
		<bossy-form-selectmenu [config]="'BossyFormSelectMenuConfig'"></bossy-form-selectmenu>
	</div>
	<div *ngSwitchCase="'textarea'">
		<bossy-form-textarea [config]="'BossyFormTextareaConfig'"></bossy-form-textarea>
	</div>
  <!-- <div *ngSwitchCase="'slider'">
    <bossy-slider></bossy-slider>
  </div> -->
	<div *ngSwitchDefault>
	 	Please select an element
	</div>
</div>
