<div [ngSwitch]="config.type" class="bossy-form-element">
    <div *ngSwitchCase="'number'">
        <input type="number" name="{{ config.name }}" placeholder="{{ config.placeholder }}"/>
    </div>
    <div *ngSwitchCase="'textarea'">
        <bossy-form-textarea [config]="config.textarea"></bossy-form-textarea>
    </div>
    <div *ngSwitchCase="'email'">
        <input type="email">
    </div>
    <div *ngSwitchCase="'selectmenu'">
        <bossy-form-selectmenu  [config]="config.selectmenu"></bossy-form-selectmenu>
    </div>
    <div *ngSwitchDefault>
        <input type="text" name="{{ config.name }}" placeholder="{{ config.placeholder }}"/>
    </div>
</div>
