<div class="row">
  <div class="col-xs-12">
    <a routerLink="/" routerLinkActive="active">
      <img class="bossy-logo" src="assets/white_logo.svg" alt="BossyUi Logo">
    </a>
  </div>
  <div class="col-xs-12">
    <a routerLink="/sandbox" routerLinkActive="active">
      <i class="icon ion-erlenmeyer-flask"></i>
      <div class="nav-title">Sandbox</div>
    </a>
  </div>
  <div class="col-xs-12">
    <a routerLink="/contributing" routerLinkActive="active">
      <i class="icon ion-ios-people"></i>
      <div class="nav-title">Contributors</div>
    </a>
  </div>
  <div class="col-xs-12">
    <div class="tagline">
      Made with <strong>love</strong> and the following technologies
    </div>
  </div>
  <div class="col-xs-12">
    <a href="https://angular.io" class="external">
      <i class="icon ion-social-angular"></i>
    </a>
  </div>
  <div class="col-xs-12">
    <a href="https://github.com/buildcom/BossyUI" class="external">
      <i class="icon ion-social-github"></i>
    </a>
  </div>
</div>
