<form [formGroup]="bossyForm" novalidate [ngClass]="{'form-inline': isFormInlinedFromConfig}">
	<div *ngFor="let element of config.elements" class="form-group">
		<bossy-form-label [config]="element.label"></bossy-form-label>
		<div [ngSwitch]="element.type">
			<div *ngSwitchCase="'number'" [ngClass]="{'has-success': element.hasValidation, 'has-warning': element.hasValidation, 'has-danger': element.hasValidation}">
				<input type="number" name="{{ element.name }}" placeholder="{{ element.placeholder }}" formControlName="{{ element.name }}" class="form-control"
						[ngClass]="{'form-control-success': element.hasValidation, 'form-control-warning': element.hasValidation, 'form-control-danger': element.hasValidation}"/>
			</div>
			<div *ngSwitchCase="'password'" [ngClass]="{'has-success': element.hasValidation, 'has-warning': element.hasValidation, 'has-danger': element.hasValidation}">
				<input type="password" name="{{ element.name }}" placeholder="{{ element.placeholder }}" formControlName="{{ element.name }}" class="form-control"
						[ngClass]="{'form-control-success': element.hasValidation, 'form-control-warning': element.hasValidation, 'form-control-danger': element.hasValidation}"/>
			</div>
			<div *ngSwitchCase="'textarea'" [ngClass]="{'has-success': element.hasValidation, 'has-warning': element.hasValidation, 'has-danger': element.hasValidation}">
				<textarea name="{{ element.name }}" placeholder="{{ element.placeholder }}" rows="{{ element.rows }}" cols="{{ element.cols }}" formControlName="{{ element.name }}" class="form-control"
						[ngClass]="{'form-control-success': element.hasValidation, 'form-control-warning': element.hasValidation, 'form-control-danger': element.hasValidation}"></textarea>
			</div>
			<div *ngSwitchCase="'email'" [ngClass]="{'has-success': element.hasValidation, 'has-warning': element.hasValidation, 'has-danger': element.hasValidation}">
				<input type="email" formControlName="{{ element.name }}" class="form-control"
						[ngClass]="{'form-control-success': element.hasValidation, 'form-control-warning': element.hasValidation, 'form-control-danger': element.hasValidation}">
				<bossy-form-input-error [formGroup]="bossyForm" [controlName]="element.name" [errorCssClass]="element.errorCssClass"></bossy-form-input-error>
			</div>
			<div *ngSwitchCase="'date'" [ngClass]="{'has-success': element.hasValidation, 'has-warning': element.hasValidation, 'has-danger': element.hasValidation}">
				<input type="date" placeholder="{{ element.placeholder }}" formControlName="{{ element.name }}" class="form-control"
						[ngClass]="{'form-control-success': element.hasValidation, 'form-control-warning': element.hasValidation, 'form-control-danger': element.hasValidation}">
			</div>
			<div *ngSwitchCase="'radio'">
				<div *ngFor="let radioItem of element.radio.items; let i = index" [ngClass]="{'form-check': true, ' form-check-inline': element.isInline}" id="{{element.radio.componentId}}">
				  <label class="form-check-label" id="{{element.radio.componentId}}_label{{i}}">
				    <input class="form-check-input" type="radio" name="radio" id="{{element.radio.componentId}}_input{{i}}" value="radioOption{{i}}" [disabled]=radioItem.isDisabled>  {{radioItem.value}}
				  </label>
				</div>
			</div>
			<div *ngSwitchCase="'selectmenu'">
				<bossy-form-input type="selectmenu" [config]="element"></bossy-form-input>
			</div>
			<div *ngSwitchDefault [ngClass]="{'has-success': element.hasValidation, 'has-warning': element.hasValidation, 'has-danger': element.hasValidation}">
				<input type="text" name="{{ element.name }}" placeholder="{{ element.placeholder }}" formControlName="{{ element.name }}" class="form-control"
						[ngClass]="{'form-control-success': element.hasValidation, 'form-control-warning': element.hasValidation, 'form-control-danger': element.hasValidation}"/>
			</div>
		</div>
	</div>
</form>
