<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <h2>Calendar</h2>
            <hr>
        </div>
    </div>
    <div class="row component-main">
        <sandbox-config [configName]="'calendarConfig'" [component]="bossyCalendar"></sandbox-config>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Form</h2>
            <hr>
        </div>
    </div>
    <div class="row component-main">
        <sandbox-config [configName]="'formConfig'" [component]="bossyForm"></sandbox-config>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Form Input</h2>
            <hr>
        </div>
    </div>
    <div class="row component-main">
        <sandbox-config [configName]="'formInputConfig'" [component]="bossyFormInput"></sandbox-config>
    </div>
    <div class="row component-main">
       <Luke-Short></Luke-Short>
    </div>
</div>
