<div class="col-sm-12">
	<div class="row">
		<div class="col-sm-12">
			<h2>Calendar</h2>
			<hr>
		</div>
	</div>
	<div class="row component-main">
		<sandbox-config [configName]="'calendarConfig'" [component]="bossyCalendar"></sandbox-config>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h2>Form</h2>
			<hr>
		</div>
	</div>
	<div class="row component-main">
		<sandbox-config [configName]="'formConfig'" [component]="bossyForm"></sandbox-config>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h2>Form Input</h2>
			<hr>
		</div>
	</div>
	<div class="row component-main">
		<sandbox-config [configName]="'formInputConfig'" [component]="bossyFormInput"></sandbox-config>
	</div>

	<div class="row component-main">
		<sandbox-config [configName]="'lukeShortExampleComponentConfig'" [component]="lukeShortExampleComponent"></sandbox-config>
	</div>
	<div class="row component-main">
		<tammi-name></tammi-name>
	</div>
	<div class="row component-main">
		<Myron-Kant></Myron-Kant>
	</div>
	<div class="row component-main">
		<tylercomp></tylercomp>
	</div>
	<div class="row component-main">
		<sam-miller></sam-miller>
	</div>
</div>

<div class="form-group has-success">
  <label class="form-control-label" for="inputSuccess1">Input with success</label>
  <input type="text" class="form-control form-control-success" id="inputSuccess1">
  <div class="form-control-feedback">Success! You've done it.</div>
  <small class="form-text text-muted">Example help text that remains unchanged.</small>
</div>
<div class="form-group has-warning">
  <label class="form-control-label" for="inputWarning1">Input with warning</label>
  <input type="text" class="form-control form-control-warning" id="inputWarning1">
  <div class="form-control-feedback">Shucks, check the formatting of that and try again.</div>
  <small class="form-text text-muted">Example help text that remains unchanged.</small>
</div>
<div class="form-group has-danger">
  <label class="form-control-label" for="inputDanger1">Input with danger</label>
  <input type="text" class="form-control form-control-danger" id="inputDanger1">
  <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
  <small class="form-text text-muted">Example help text that remains unchanged.</small>
</div>
