<div class="col-sm-2 col-md-2 bg-faded sidebar">
    <div>
        <ul class="nav nav-sidebar">
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Text box</a></li>
        </ul>
    </div>
</div>
<div class="col-sm-3 col-md-3 main">
    <sandbox-config [config]="calendarConfig"></sandbox-config>
</div>
<div class="col-sm-7 col-md-7 main">
    <bossy-calendar [config]="calendarConfig"></bossy-calendar>
</div>
<div class="col-sm-7 col-md-7 main">
	<bossy-form-input [config]="formInputConfig"></bossy-form-input>
</div>


