<div zf-panel position="left" id="sub-nav" class="fast bounceInOut medium-2 medium-grid-block vertical">
	<div class="grid-content">
		<ul class="icon-left vertical menu-bar">
		  <li><a href="#"><img zf-iconic="" data-src="/assets/img/iconic/ban.svg"> Songs</a></li>
		  <li><a href="#"><img zf-iconic="" data-src="/assets/img/iconic/ban.svg"> Albums</a></li>
		  <li><a href="#"><img zf-iconic="" data-src="/assets/img/iconic/ban.svg"> Artists</a></li>
		</ul>
	</div>
	<div class="grid-content shrink now-playing">
		<h5>Now Playing</h5>
		<img src="http://placehold.it/350&text=Album">
		<p>Shake it off by Taylor Swift</p>
	</div>
</div>

<div class="small-12 medium-8 messages grid-content">
	<div class="grid-container">
		<img src="http://placehold.it/1050x450"><br /><br />
		<div class=" grid-block small-up-2 medium-up-2 large-up-3">
			<!-- Start Albums -->
		  <div class="grid-content">
		    <div class="card">
		      <img src="http://placehold.it/400x200" />
		      <div class="card-divider">
		        Name of Artist
		      </div>
		      <div class="card-section">
		        <h4>Name of Song</h4>
		        <p>The most influential band of the 90's.</p>
		      </div>
		    </div>
		  </div>

		  <div class="grid-content">
		    <div class="card">
		      <img src="http://placehold.it/400x200" />
		      <div class="card-divider">
		        Name of Artist
		      </div>
		      <div class="card-section">
		        <h4>Name of Song</h4>
		        <p>The most influential band of the 90's.</p>
		      </div>
		    </div>
		  </div>

		  <div class="grid-content">
		    <div class="card">
		      <img src="http://placehold.it/400x200" />
		      <div class="card-divider">
		        Name of Artist
		      </div>
		      <div class="card-section">
		        <h4>Name of Song</h4>
		        <p>The most influential band of the 90's.</p>
		      </div>
		    </div>
		  </div>

		  <div class="grid-content">
		    <div class="card">
		      <img src="http://placehold.it/400x200" />
		      <div class="card-divider">
		        Name of Artist
		      </div>
		      <div class="card-section">
		        <h4>Name of Song</h4>
		        <p>The most influential band of the 90's.</p>
		      </div>
		    </div>
		  </div>

		  <div class="grid-content">
		    <div class="card">
		      <img src="http://placehold.it/400x200" />
		      <div class="card-divider">
		        Name of Artist
		      </div>
		      <div class="card-section">
		        <h4>Name of Song</h4>
		        <p>The most influential band of the 90's.</p>
		      </div>
		    </div>
		  </div>

		  <div class="grid-content">
		    <div class="card">
		      <img src="http://placehold.it/400x200" />
		      <div class="card-divider">
		        Name of Artist
		      </div>
		      <div class="card-section">
		        <h4>Name of Song</h4>
		        <p>The most influential band of the 90's.</p>
		      </div>
		    </div>
		  </div>

		  <div class="grid-content">
		    <div class="card">
		      <img src="http://placehold.it/400x200" />
		      <div class="card-divider">
		        Name of Artist
		      </div>
		      <div class="card-section">
		        <h4>Name of Song</h4>
		        <p>The most influential band of the 90's.</p>
		      </div>
		    </div>
		  </div>

		  <div class="grid-content">
		    <div class="card">
		      <img src="http://placehold.it/400x200" />
		      <div class="card-divider">
		        Name of Artist
		      </div>
		      <div class="card-section">
		        <h4>Name of Song</h4>
		        <p>The most influential band of the 90's.</p>
		      </div>
		    </div>
		  </div>

		  <div class="grid-content">
		    <div class="card">
		      <img src="http://placehold.it/400x200" />
		      <div class="card-divider">
		        Name of Artist
		      </div>
		      <div class="card-section">
		        <h4>Name of Song</h4>
		        <p>The most influential band of the 90's.</p>
		      </div>
		    </div>
		  </div>

		</div>
	</div>
</div>

<div zf-panel id="feed" position="right" class="fast bounceInOut medium-2 medium-grid-content">
  <section class="block-list">
	  <header>Activity Feed</header>
	  <ul>
	    <li><a href="#"><h6>Jon Snow</h6>Just Listened to Death Metal</a></li>
	    <li><a href="#"><h6>Hodor</h6>Just Listened to Hit Me Baby One More Time</a></li>
	    <li><a href="#"><h6>Arya Stark</h6>Just Liked Taylor Swift</a></li>
	    <li><a href="#"><h6>Jon Snow</h6>Just Listened to Death Metal</a></li>
	    <li><a href="#"><h6>Hodor</h6>Just Listened to Hit Me Baby One More Time</a></li>
	    <li><a href="#"><h6>Arya Stark</h6>Just Liked Taylor Swift</a></li>
	    <li><a href="#"><h6>Jon Snow</h6>Just Listened to Death Metal</a></li>
	    <li><a href="#"><h6>Hodor</h6>Just Listened to Hit Me Baby One More Time</a></li>
	    <li><a href="#"><h6>Arya Stark</h6>Just Liked Taylor Swift</a></li>
	    <li><a href="#"><h6>Jon Snow</h6>Just Listened to Death Metal</a></li>
	    <li><a href="#"><h6>Hodor</h6>Just Listened to Hit Me Baby One More Time</a></li>
	    <li><a href="#"><h6>Arya Stark</h6>Just Liked Taylor Swift</a></li>
	  </ul>
	</section>
</div>
<!-- End Compose Message -->