
<div class="grid-block align-center">
	<div class="grid-content medium-6">
		<h4><a ui-sref="home">&#10094; Back</a></h4>
		
		<hr />

		<section class="block-list">
	    <header>Account Info</header>
	    <ul>
	      <li><input type="text" value="geoff@zurb.com"></li>
	      <li><input type="password" value="password1234"></li>
	    </ul>
	  </section>
  
	  <section class="block-list">
	    <header>Filtering</header>
	    <ul>
	      <li>
	        <span>Filter Spam</span>
	        <div class="switch"><input type="checkbox" id="setting1"><label for="setting1"></label></div>
	      </li>
	      <li>
	        <span>Delete Facebook Emails</span>
	        <div class="switch"><input type="checkbox" id="setting2"><label for="setting2"></label></div>
	      </li>
	      <li>
	        <span>Bake Pizza</span>
	        <div class="switch"><input type="checkbox" id="setting3"><label for="setting3"></label></div>
	      </li>
	      <li>
	        <span>Consider Corgis</span>
	        <div class="switch"><input type="checkbox" id="setting4"><label for="setting4"></label></div>
	      </li>
	    </ul>
	  </section>
	</div>
</div>