---
title: Colors
slug: colors
order: 8
---

<div class="container">

<article class="post-content">

<section>
	<h2>Basics</h2>
	<div class="module">
		<p>Basic colors for text and elements. Dark is the default text color.</p>
		<p>"dark" - #2C2C2C <br />
			"dark grey" - #595959 <br />
			"light grey" - #B0B0B0 <br />
			"white" - #FFFFFF
		</p>
	</div>
	<div class="demo-color grid-2 flush rows">
		<div class="dark col-2">Dark</div>
		<div class="darkgrey col-1">Dark Grey</div>
		<div class="lightgrey col-1">Light Grey</div>
		<div class="white col-2">White</div>
	</div>
</section>

<section>
	<h2>Primary</h2>
	<div class="module">
		<p>Use for various design elements such as backgrounds and headers.</p>
		<p>
			"primary" - #0076a8 <br />
			"primary light" - #B9E3F5 <br />
			"primary dark" - #005274
		</p>
	</div>
	<div class="demo-color grid-2 flush rows">
		<div class="primary col-2">Primary</div>
		<div class="primary light inverse col-1">Primary Light</div>
		<div class="primary dark col-1">Primary Dark</div>
	</div>
</section>

<section>
	<h2>Accent</h2>
	<div class="module">
		<p>Use ONLY for primary action elements such as buttons, links and sliders.</p>
		<p>"accent" - #00b388</p>
	</div>
	<div class="demo-color grid-3 flush">
		<div class="accent col-3">Accent</div>
	</div>
</section>

</article>

</div>
